{{#each items}}
    <div class="lecture-item" data-id="{{_id}}" data-lecture='{{json}}'>
        <div class="row">
            <div class="col-8">
                <b>{{name}}</b><br/>
                <span class="text-muted small">{{date}} ({{startTime}} - {{finishTime}})</span><br/>
                Лектор: {{lecturer}}<br/>
                Школа: {{schoolList}}<br/>
                Аудитория: {{classroom.name}}
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-link btn-sm lecture-edit">Редактировать</button>
                <button type="button" class="btn btn-link btn-sm lecture-delete">Удалить</button>
            </div>
        </div>
        <hr/>
    </div>
{{/each}}