{{#each items}}
    <div class="classroom-item" data-id="{{_id}}" data-classroom='{{json}}'>
        <div class="row">
            <div class="col-8">
                <b>{{name}}</b><br/>
                Вместимость: {{capacity}}<br/>
                Описание: {{description}}<br/>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-link btn-sm classroom-edit">Редактировать</button>
                <button type="button" class="btn btn-link btn-sm classroom-delete">Удалить</button>
            </div>
        </div>
        <hr/>
    </div>
{{/each}}